<div class='container'>
    <div class='row'>

    </br>
    </br>
    </br>
    </br>


<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Create Collection</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Create new collection</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Collection Name:</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="ie: Best Steakhouses" ng-model='collection_name'>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Collection Description:</label>
            <textarea ng-model='collection_description' class="form-control" id="message-text" placeholder="ie: My favorite places for perfectly grilled steaks"></textarea>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Collection Image:</label>
            <input ng-model='collection_imageurl' placeholder="ie: insert image url" type="text" class="form-control" id="recipient-name" placeholder="ie: Best Steakhouses" ng-model='collection_name'>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='refresh()'>Close</button>
        <button type="button" class="btn btn-primary" ng-click='createCollection(collection_name, collection_description, collection_imageurl)'>Create</button>
      </div>
    </div>
  </div>
</div>


    <h2>User Collections:</h2>

    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 collections-grid'>

          <div class="collection-card col-xs-4" ng-repeat='collection in user_collections'>
            <div class='collection-image col-xs-1'><span class='rest-image'><img ng-src='{{collection.imageurl}}'></span>
            </div>
            <span class='collection-title col-xs-3'>
              <h3 ui-sref='details({collectionId: collection.id})'><strong>{{collection.name}}</strong></h3>
              <h4>{{collection.description}}</h4>
              <button class='delete-btn' ng-click='deleteCollection(collection)'>Delete</button>
            </span>
          </div>

        </div>
      </div>
    </div>


    <h2>Public Collections:</h2>

    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 collections-grid'>

          <div class="collection-card col-xs-4" ng-repeat='collection in public_collections'>
            <div class='collection-image col-xs-1'><span class='rest-image'><img ng-src='{{collection.imageurl}}'></span>
            </div>
            <span class='collection-title col-xs-3'>
              <h3 ui-sref='details({collectionId: collection.id})'><strong>{{collection.name}}</strong></h3>
              <h4>{{collection.description}}</h4>
              <button class='delete-btn' ng-click='deleteCollection(collection)'>Delete</button>
            </span>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
