<div class='container'>
    <div class='row'>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Edit Collection</button>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='modal1'>
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Edit your collection</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Collection Name:</label>
                <input type="text" class="form-control" id="recipient-name" placeholder="update collection name ..." ng-model='collection_name'>
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">Collection Description:</label>
                <textarea ng-model='collection_description' class="form-control" id="message-text" placeholder="update your collection description ..."></textarea>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Collection Image:</label>
                <input ng-model='collection_imageurl' placeholder="update collection image ..." type="text" class="form-control" id="recipient-name" ng-model='collection_name'>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click='updateCollection(collection_name, collection_description, collection_imageurl, 1)'>Save</button>
          </div>
        </div>
      </div>
    </div>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">Add Restaurants</button>

    <div class="modal fade" id="modal2" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Search for restaurants</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Location:</label>
                <input ng-model='location' type="text" class="form-control" id="recipient-name" placeholder="Enter address, neighborhood, city, state or zip">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Key term:</label>
                <input ng-model='term' type="text" class="form-control" id="recipient-name" placeholder="Search by key term: Restaurant name, type">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click='searchTerm(term, location)'>Search</button>
          </div>

          <div class='container'>
            <div class='row'>
              <div class='col-sm-12 addrest-card' ng-repeat='restaurant in restaurants.businesses'>
                <!-- <span><img width='10' ng-src='{{restaurant.image_url}}'></span> -->

                <div class="rest-inner-left col-sm-8">
                  <div class='addrest-line'><a class='rest-name' href='{{restaurant.url}}'>{{restaurant.name}}</a><span class='addrest-rating'>{{restaurant.rating}}</span></div>
                    <!-- <h4>Price: {{restaurant.price}} Type: {{restaurant.categories}}</h4> -->
                    <p>{{restaurant.location.city}}</p>
                </div>

                <div class="rest-inner-right col-sm-4">
                  <button class='add-btn' ng-click='addRestaurant(restaurant)'>Add</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  <div class='col-xs-12'>
    <h1>{{restaurantCollection[0].title}}</h1>
    <p>{{restaurantCollection[0].description}}</p>
  </div>


  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 rest-grid'>

      <div class='rest-card col-xs-5' ng-repeat='restaurant in restaurantCollection'>
        <span class='col-xs-1'><img class='rest-img' ng-src='{{restaurant.image_url}}'></span>
        <div class='rest-info cols-xs-4'>
          <div class='rtitle' <a href='{{restaurant.url}}'> {{restaurant.name}}</a></div>
          <div class='rdetails details-rating'>{{restaurant.rating}}</div>
          <p class='rdetails'>{{restaurant.price}}</p>
          <p class='rdetails'>{{restaurant.categories}}</p>
          <button class='remove-btn' ng-click='removeRestaurant(restaurant)'>Remove</button>
       </div>

      </div>
    </div>
  </div>



    </div>
</div>
