<div>
<div class='home-image'>

<div class='container'>
    <div class='row'>
      <div class='title-border'>
        <h1 class='title-text'>sustenance</h1>
      </div>
      <div class="searchbar col-xs-2"></div>
      <div class="searchbar col-xs-8">
        <h2 class='home-search'>Find the best restaurants, cafes, and pubs in every city</h2>
      <div class="form-group">
        <input ng-model='location' maxlength="80" type="text" class="form-control" id='searchbar' placeholder="Location: address, neighborhood, city, state or zip">
        <span class="search-btn">
          <button class="btn btn-default" type="button" ng-click='searchLocation(location)'>Search</button>
        </span>
      </div><!-- /form-group -->
    </div><!-- /.col-lg-6 -->
    <div class="searchbar col-xs-2"></div>

  </div><!-- /.row -->
</div><!-- /.container -->

</div><!-- /.home-image -->
</div><!-- /.container -->


      <div class='container'>
        <div class='row' ng-repeat='restaurant in restaurants.businesses'>
          <div class='restaurant-row col-xs-10'>
            <span><img class='rest-image' ng-src='{{restaurant.image_url}}'></span>

            <div class="rest-inner-left col-xs-6">
              <div>
              <a class='rest-title' href='{{restaurant.url}}'> {{restaurant.name}}</a>

                <span class='rating'>{{restaurant.rating}}</span>
              </div>

                <p>Price: {{restaurant.price}} </p>
                <p>Type: <span ng-repeat='category in restaurant.categories'>{{category.title}}<span ng-hide='$last'>, </span></span></p>
            </div>

            <div class="rest-inner-right col-xs-4">
              <p>{{restaurant.location.city}}</p>
              <p>{{restaurant.display_phone}}</p>
              <p>{{restaurant.location.display_address[0]}} {{restaurant.location.display_address[1] }}</p>
            </div>
          </div>
        </div>
      </div>


      <div class='container'>
        <div class='row'>
          <h2 class=title-header><strong>Collections</strong></h2>
          <p class='title-desc'>Explore curated lists of top restuarants, cafes, pubs, and bars in your area</p>
          <div class='col-xs-12 collections-grid'>
              <div class='collection-card col-xs-4' ng-repeat='collection in collections'>
                <div class='card-container'>
                <div class='collection-image col-xs-1'><span><img class='col-img' ng-src='{{collection.imageurl}}'></span>
                </div>
                <span class='collection-title col-xs-3'>
                  <h3 ui-sref='details({collectionId: collection.id})'><strong>{{collection.name}}</strong></h3>
                  <h4>{{collection.description}}</h4>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
