


<div class='login-background'>
  <div class='container login-container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='col-xs-6 white-back'>
          <div class='upper-white'>
          <i action="/auth/facebook" class="fa fa-facebook-square fa-5x" aria-hidden="true"></i>
          </div>
          <div class='lower-white'>
          <form method="post" action="/auth/facebook">
            <input class='fb-btn' type='submit' value="Login with facebook">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
