$primary-color: #333;
$font-stack:    Helvetica, sans-serif;
$background-color: rgb(243, 243, 243);
$card-color: white;
$red: rgb(203, 32, 45);
$kom: 'Komoda';
$rating: rgb(91, 168, 41);

.details-header-img {
  height: 150px;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/images/7jyvkro7i5q-toa-heftiba.jpg');
  background-position: center;
  background-size: cover;
  margin-top: -75px;
  // position: relative;
}

.edit-add {
  // margin: 100px 5px;
  margin: 95px 0px 0px 0px;
  // float: right;
}
#edit {
  float: left;
}

#add {
  float: right;
}

.detail-col-title-box{
  text-align: center;
  margin: 0 0;
  padding: 0 0;
}
.detail-col-img {
  height: 320px;
  width: 410px;
  border-radius: 4px;
  margin: -90px auto;
  padding: 0 0;
  text-align: center;
}

.detail-title-content {
  background-color: $red;
  color: white;
  height: 80px;
  width: 506px;
  position: relative;
  text-align: center;
  padding: 14px 0;
  border-radius: 4px;
  margin: 36px auto;
}

.detail-col-title {
  font-size: 35px;
  font-family: 'Josefin Slab', serif;
  margin: 0 0;
}

.detail-col-desc {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0;
}

.rest-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  // align-items: center;
  // align-content: center;
  box-sizing: border-box;
  margin: 0px -22px;
}

.rest-card {
  width: 360px;
  height: 150px;
  margin: 10px 5px;
  padding: 0px 0px;
  border-radius: 4px;
}

.restaurant-img {
  width: 40%;
  height: 130px;
  padding: 0 0;
}

.rest-img {
  width: 100%;
  height: 130px;
  padding: 0 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rest-info {
  width: 60%;
  height: 130px;
  background-color: $card-color;
  padding: 5px 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rtitle {
  font-size: 140%;
  color: $red;
}

.rdetails {
  font-size: 115%;
  margin-top: 5px;
}

.details-rating {
  height: 23px;
  width: 23px;
  background-color: $rating;
  border-radius: 5%;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 8px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.remove-btn {
  background-color: $red;
  border: none;
  border-radius: 5%;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 0px;
}

.addrest-card {
  font-size: 115%;
  background: $background-color;
  margin: 10px 10px;
  border-radius: 4px;
}



.rest-name {
  color: $red;
  font-size: 18px;
  cursor: pointer;
  float: left;
  margin-right: 10px;
}

// .addrest-line {
//   float: left;
// }

.addrest-rating {
  height: 23px;
  width: 23px;
  background-color: $rating;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  padding: 4px 12px;
  display: flex;
  justify-content: space-around;
  float: left;
}

.add-btn {
  background-color: $rating;
  border: none;
  border-radius: 4px;
  color: white;
  float: right;
  margin: -47px 10px;
}

@media (max-width: 769px){

.rest-container {
  margin: 0 auto;
}

.detail-col-img {
  height: 245px;
  width: 270px;
}

.detail-title-content {
  height: 55px;
  width: 320px;
  margin: 35px 0px 5px 5px;
}

.detail-col-title {
  font-size: 22px;
  margin: 0 0;
}

.detail-col-desc {
  font-weight: 400;
  font-size: 10px;
  margin: 0 0;
}

.edit-add {
  font-size: 7px;
  display: flex;
  justify-content: center;
}


}

@media (max-width: 426px){

.rest-container {
  margin: 0 auto;
}

.detail-col-img {
  height: 245px;
  width: 198px;
}

.detail-title-content {
  height: 55px;
  width: 290px;
  margin: 35px 0px 5px -45px;
}

.detail-col-title {
  font-size: 22px;
  margin: 0 0;
}

.detail-col-desc {
  font-weight: 400;
  font-size: 10px;
  margin: 0 0;
}

.edit-add {
  font-size: 7px;
  display: flex;
  justify-content: center;
}

}

@media (max-width: 376px){

.rest-container {
  margin: 0 auto;
}

.detail-col-img {
  height: 245px;
  width: 198px;
}

.detail-title-content {
  height: 55px;
  width: 290px;
  margin: 35px 0px 5px -45px;
}

.detail-col-title {
  font-size: 22px;
  margin: 0 0;
}

.detail-col-desc {
  font-weight: 400;
  font-size: 10px;
  margin: 0 0;
}

.edit-add {
  font-size: 7px;
  display: flex;
  justify-content: center;
}

}

@media (max-width: 321px){

.rest-container {
  margin: 0 auto;
}

.detail-col-img {
  height: 145px;
  width: 145px;
  margin: -50px auto;
}

.detail-title-content {
  // height: 45px;
  width: 243px;
  margin: 35px 0px 5px -50px;
}

.detail-col-title {
  font-size: 15px;
  margin: 0 0;
}

.detail-col-desc {
  font-weight: 400;
  font-size: 8px;
  margin: 0 0;
}

.edit-add {
  font-size: 5px;
  display: flex;
  justify-content: center;
}


}
