$background-color: rgb(243, 243, 243);
$kom: 'Komoda';
$red: rgb(203, 32, 45);

.navbar.navbar-inverse {
    background-color: $red;
    border: none;
}

.navbar-inverse.navbar-nav>li>a {
  color: white;
}

.btn-success {
  // border: none;
  background-color: $red;
  border-color: $red;
}

.form {
  // border: none;
}

body {
  background-color: $background-color;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: white;
    font-family: 'Komoda';
    font-size: 350%;
    // background-color: $red;
}

ul {
  font-family: 'Komoda';
  font-size: 300%;
}

footer {
  padding: 20px 0;
}
